<h1 style="color:rgba(36, 36, 182, 0.4) ;">Vista Productos</h1>

<% if (productos.length > 0) {%>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Photo</th>
        </tr>
        <% productos.forEach(producto=>{ %>
                <tr>
                    <td> <%= producto.title %> </td>
                    <td> <%= producto.price %> </td>
                    <td><img src=<%= producto.url %> alt= <%= producto.title %> class="img-thumbnail" style="width: 6rem;"></td>
                </tr>
            <%}) 
        %>
    </table>
<%}else{ %>
    <h2 style="color:brown">No hay productos cargados</h2>
<%} %>