<div class="container">
    <div id="messages" class="message">
        <h3>Chat</h3>
        <input
            type="email"
            id="email"
            placeholder="ejemplo@email.com"
            required
        />
        <input type="text" id="texto" placeholder="Su mensaje aqui" required />
        <button id="button" class="btn btn-primary">Enviar</button>
    </div>
</div>
